/* Font add from google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  background-color: white !important;
}
/* asign to page personal */
.header-bar {
  top: 0;
  right: 0;
  margin: 0;
  width: 100%;
  position: fixed;
}
/* style header of bar  */
.nav-bar {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  background-color: black;
  border: 1px solid black;
  align-items: center;
  padding: 10px;
}
.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 50px;
/* set for filter of image  */
  filter: contrast(200%);
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 200px;
  padding: 0;
  gap: 30px;
}
.nav-bar li a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}
/* style hover on nav bar  */
.nav-bar li a:hover {
  text-decoration: 3px underline white solid;
  text-underline-offset: 1rem;
}
/* style focus on nav bar */
.nav-bar li a:focus {
  text-decoration: 3px underline white solid;
  text-underline-offset: 1rem;
}
/* style for responsive */
@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
  }
  .nav-bar ul {
    margin-left: 0;
    flex-wrap: wrap;
  }
  .nav-bar li a {
    margin-bottom: 10px;
  }
}
/* asign to page prifile */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1080;
}
.wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  padding: 100px 20px 0;
}
.wrapper img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.wrapper h1 {
  font-size: 40px;
  font-family: 'poppins', serif;
  text-transform: capitalize;
}
.icon {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 35px;
}
.fa-brands {
  color: blue;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding-top: 30px;
  font-size: 20px;
  text-transform: capitalize;
}
/* asign continue on file personal  show about myself to everyone*/
.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  background-color: #007f99;
  padding: 50px;
  font-family: 'poppins', sans-serif;
}
.section-include {
  font-weight: 400;
  font-size: 30px;
  color: white;
}
.section-img img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
h2 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
/* asign to about page details below  */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-top: 75px;
  background-color: #e9e9e9;
}
.main-content-include {
  font-weight: 400;
  font-size: 30px;
  color: black;
  padding: 0 125px 0;
}
.main-header {
  color: black;
  font-family: 'poppins', sans-serif;
  text-align: center;
}
.main-description {
  font-size: 30px;
  font-weight: 300;
  text-align: justify;
  padding: 10px;
  line-height: 1.5;
  text-indent: 3em;
}
.main-description img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  padding: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  text-transform: capitalize;
}
.list li {
  font-size: 25px;
  font-weight: 500;
  color: black;
  list-style: none;
}
/* for responsive page */
@media screen and (max-width: 481px) {
  .main-content-include {
    flex-flow: column wrap;
  }
  .main-description {
    font-size: 20px;
    flex-flow:column wrap;
    padding: 0;
    line-height: 0;
  }
}
/* asign for experience page */
.experience {
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  padding: 0;
  justify-content: center;
}
.experience-section-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}
.code {
 margin-right: 150px;
 margin-left: 150px;
}
/* button icon code project */
.fa-code {
  color: blue;
  font-size: 30px;
}
.title {
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: 'poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.letter {
  background-color: #e9e9e9;
  line-height: 30px;
  border-radius: 20px;
  padding: 20px;
}
.result {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}
/* Icon result of page */
.fa-google {
  color: green;
  font-size: 30px;
}
.experience-section-2 {
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.creative {
  margin: 0;
}
.fa-creative-commons-by {
  font-size: 30px;
  color: blue;
}
.topic {
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: 'poppins', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.article {
  background-color: #e9e9e9;
  line-height: 30px;
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}
.participate {
  margin-top: 80px;
}
.fa-face-smile {
  color: green;
  font-size: 30px;
}
/* Page responsive for experience page */
@media screen and (max-width: 481px) {
  .experience {
    flex-flow: column wrap;
  }
  .experience-section-1 {
    flex-flow: column wrap;
    margin: 0;
    padding: 0;
  }
  .experience-section-2 {
    flex-flow: column wrap;
    margin: 0;
    padding: 200px;
  }
}
/* asign for project page */
/* front section do that */
.frontend {
  margin: 80px 30px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  background-color: #e9e9;
  padding: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
}
.frontend-image {
  margin-bottom: -4px;
}
.frontend-image img {
  max-width: auto;
  height: auto;
  border-bottom-right-radius: 10px;
}
.frontend-include {
  font-size: 25px;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
  padding: 60px;
}
.frontend-header {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 900;
  color: rgba(0, 0 , 0.2);
  text-align:center;
}
.frontend-script {
  color: black;
  padding-left: 50px;
  line-height: 30px;
}
/* Backend section do that  */
.backend  {
  margin: -30px 30px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  background-color: #e9e9;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 20px;
}
.backend-include {
  font-size: 25px;
  font-weight: 500;
  color: black;
  text-transform: capitalize;
  padding: 60px;
}
.backend-header {
  font-size: 60px;
  text-transform: capitalize;
  font-weight: 900;
  color: rgba(0, 0 , 0.2);
  text-align: center;
}
.backend-script {
  color: black;
  padding-left: 100px;
  padding-right: 50px;
  line-height: 30px;
}
.backend-image {
  margin-bottom: -4px;
}
.backend-image img{
  max-width: auto;
  height: auto;
  border-top-left-radius: 10px;
}
/* main element of page project */
.project {
  margin: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

}
.project-include {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  border: 1px solid black;
  padding: 50px;
  background-color: #ac8e8e;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.text {
  font-size: 40px;
  color: black;
  border: 1px solid white;
  padding: 5px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}
.git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
  text-align: center;
}
/* git control version */
.github {
  color: black;
  font-size: 25px;
}
.github a {
  text-decoration: none;
  color: blue;
}
/* github icon */
.fa-square-github {
  color: crimson;
  font-size: 60px;
  cursor: pointer;
}
/* gitlap icon  */
.fa-square-gitlab {
  color: green;
  font-size: 60px;
  cursor: pointer;
}
/* asign for contact page */
.contact {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hand-shake {
  margin-left: 150px;
  background-color: gray;
  border-radius: 10px;
}
.hand-shake img {
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.below {
  font-size: 40px;
  margin-left: 120px;
  text-transform: capitalize;
}
.contact-icon {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: black;
  margin-left: 100px;
  gap: 20px;
}
.span {
  margin-left: 60px;
  margin-top: -45px;
  font-size: 25px;
  color: black;
}
